VITE_API_URL=http://localhost:8000/api/v1
VITE_APP_NAME=Animazing
VITE_SOCKET_URL=http://localhost:8000
VITE_AUTH_KEY="${VITE_APP_NAME}_AUTH_KEY"

VITE_SENTRY_DNS=https://44dfd6112ea0039738d145b8984466de@o4510608915628032.ingest.us.sentry.io/4510802160386048
VITE_SENTRY_ENVIRONMENT=local